# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Other
*.d
*~
*.vtk

Worksheet\ 04/materials.zip
Worksheet\ 04/materials/
Worksheet\ 04/mpi-quick-ref.pdf
Worksheet\ 04/mpi_notes.txt
